#home{
    background-color: #624D96;
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    padding: 20px;
    animation-name: none;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.centralizarv{
    display: flex;
    justify-content: center;
    align-items: center
}