<div class="container">
    <div class="row">
        <div class="col-md centralizarv fotoperfil" [@bounceInLeft]="bounceInLeft">
            <div class="text-center">
                <img src="../../assets/images/eu.png" />
            </div>
        </div>
        <div class="col-md centralizarv" [@bounceIn]="bounceIn">
            <div class="row" style="display: block;">
                <div class="text-center">
                    <h1>Olá, eu sou o Daniel</h1>
                </div><br/><br/>
                <div class="text-center">
                    <h5>
                        Sou estudante de Ciências da Computação, tenho 24 anos, possuo habilidade e experiência em desenvolvimento de sistemas para desktop, web e mobile, montagem e manutenção de computadores e celulares.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>